<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description_raspect)/urdf/turtlebot3_burger_raspect.urdf.xacro --inorder" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
